<h1>Inventory</h1>
<form action="/car_added" method="post">
  <label for="make">Make</label>
  <input id="make" name="make" type="text">

  <label for="model">Model</label>
  <input id="model" name="model" type="text">

  <label for="mileage">Mileage</label>
  <input id="mileage" name="mileage" type="text">

  <label for="price">Price</label>
  <input id="price" name="price" type="text">

  <button type="submit">Submit</button>
</form>
